.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgba(1,1,1,.9);
    overflow-x: hidden;
    transition: all 0.5s;
    z-index: 1;
}

.overlay__content{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a{
    padding: 10px;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    display: block; 
}

.overlay .closeBtn{
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 50px;

}

.overlay .calDot{
    position: absolute;
    top: 5%;
    left: 5%;
    color: #f00;
    font-size: 50px;
}

.overlay .valDot{
    position: absolute;
    top: 15%;
    left: 15%;
    color: #f00;
    font-size: 50px;
}
